* { margin:0;padding:0;box-sizing:border-box; }
body {
	background-color: white;
	color: white;
	font-family: 'Lato', sans-serif;
	text-align:center;
	background:url(images/kristen_stairs_cropped.jpg);
	background-position:center;
}
img {
	float: center;
}
ul {
	display:inline;
}
h1 {font-family: 'Oswald', sans-serif;
	font-size: 80px;
	margin:250px auto 80px auto;
}
#slogan 
	{
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 30px;
	margin:120px auto 80px auto
	}
#description {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 20px
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
